/* navigation bar */


#header {
  background-color: var(--bg) !important;

}


.navbar-toggler {

  color: var(--color);


}

.navbar-toggler-icon {
  color: var(--color);
}



#div-logo {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#logo {
  font-size: 60px;
  color: var(--color);
}

#invoice {
  font-size: 20px;
  color: var(--color);


}




.navbar-expand-lg .navbar-nav .nav-link {

  padding-right: 35px;
  padding-left: 50px;
  font-size: 13px;
  color: var(--color);

}

.navbar-collapse {

  align-items: center;
  flex-grow: 0 !important;
  padding-right: 100px;
}


@media only screen and (max-width: 1100px) {

  .navbar-expand-lg .navbar-nav .nav-link {


    font-size: 10px;



  }
}


@media only screen and (max-width: 800px) {

  .navbar-expand-lg .navbar-nav .nav-link {


    font-size: 16px;
    padding-right: 0px;
    padding-left: 0px;


  }




  #theme-box {
    visibility: hidden;
  }





}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}


/* stroke */
nav#header ul li a,
nav.fill ul li a {
  position: relative;
}

nav#header ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav#header ul li a:hover:after {
  width: 80%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}



/* Theme Slider Button */


.checkbox {
  opacity: 0;
  position: absolute;

}

.checkbox-label {
  background-color: var(--toggle);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fa-moon {
  color: #f1c40f;
}

#fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--bg);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}



/* slogan */

#slogan {
  background-color: var(--bg);
  width: 100%;


}



#slogan-h1 {

  padding-top: 10%;
  color: var(--color);
  font-size: 50px;


}



.line {
  color: var(--color);
  margin: 0px;
}

#tech {
  color: var(--highlight);
}

#slogan-h5 {
  margin-top: 15px;
  font-size: 40px;
  color: var(--color);
  font-weight: 200;
}


@media only screen and (max-width: 320px) {

  #slogan-h1 {

    font-size: 20px !important;

  }

  #tech {
    font-size: 23px;
  }


}

@media only screen and (max-width: 375px) {

  #slogan-h1 {

    font-size: 23px;

  }




}

@media only screen and (max-width: 425px) {

  #slogan-h1 {

    font-size: 25px;

  }

  #slogan-h5 {

    font-size: 17px;

  }




}

@media only screen and (max-width: 768px) {

  #slogan-h5 {

    font-size: 22px;

  }




}


/* filter description */


#photo-content{
  background-color: var(--color);
  width: 600px;
  
}

#filter-description-div{
  background-color: var(--bg);
  margin-top: 100px;
  padding: 10px;

}